html{
    box-sizing: border-box;
    background:url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    width: 1440px;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0px;
}
.card{
    display: block;
    position: relative;
    width:400px;
    height:auto;
    background-color: white;
    left:50%;
    transform: translate(-50%, 10%);
    border-radius: 1rem;

}
.illustration img{
    display: inline-block;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width:100%;
}
.text h1{
    font-size: 1.4rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    text-align: center;
    margin-top: 10%;
}
.text p{
    font-size: 0.9rem;
    font-weight: 500;
    color:hsl(224, 23%, 55%);
    text-align: center;
    margin: 0px 12%;
}
.payment{
    display: flex;
    position: relative;
    background-color: hsl(225, 100%, 98%);
    width: 300px;
    left:50%;
    transform: translate(-50%, 0);
    padding: 15px;
    margin-top: 20px;
    border-radius: 1em;
}
.payment img{
    position: absolute;
    transform: matrix(0.8, 0, 0, 0.8, 10, 5); 
}
.dwie_linijki{
    line-height: 0.4;
    padding: 0;
    margin: 0;
    transform: translate(70px);
    font-weight: 700;
    font-size: 0.9rem;
}
.xd{
    color:rgb(143, 143, 143);
    font-weight: 500;
}
.payment a{
    color: hsl(246, 93%, 56%);
    display: absolute;
    transform: translate(155px, 20px);
    font-size: 0.75rem;
    font-weight: 700;
    height: 20px;
}
.button1{
    background-color:hsl(246, 93%, 56%);
    color:white;
    font-weight: 700;
    text-align: center;
    font-size: 0.8rem;
    padding: 12px;
    margin: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    cursor: pointer;
}
.button2{
    color:rgb(136, 136, 136);
    font-weight: 900;
    text-align: center;
    font-size: 0.8rem;
    padding: 12px 0 40px 0;
    margin: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    cursor: pointer;
}
.payment a:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
.button1:hover{
    background-color: hsl(224, 23%, 55%);
}
.button2:hover{
    color:hsl(223, 47%, 23%);
}
@media only screen and (max-width: 375px) {
    body{
        position: relative;
    }
    .card{
        left:0;
        transform: translate(0);
        width:350px;
        margin-top: auto;
        margin-bottom: auto;
    }
  }

